/* // Try to use vh, vw instead of px. This will ensure your website looks the same across all screen sizes */

.item {
  background: #fff;
  font-family: Lato, sans-serif;
  color: #888;
  border: 0;
  font-size: 14px;
  margin: 0 20px;
  width: 331px;
  border-bottom: 1px solid #eee;

}
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

input[type="checkbox"]
{
  font-size: 14px;
  padding: 100px;
  position: relative;
  cursor: pointer;
}

.item img{
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: white;
    float: right;
  }
